@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

body {
  font-family: "Montserrat";
  margin: 0 0;
}

.layout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4rem 8rem;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 28px;
  color: #341948;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.input-box{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 0.5rem 0;
}

input{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 6px 2px;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Montserrat";
}

.btn-primary{
    margin: 0.5rem;
    background-color: #341948;
    border: none;
    outline: none;
    color: #fff;
    padding: 6px 8px;
    width: 100px;
    font-family: "Montserrat";
    border-radius: 6px;
    font-size: 16px;
}

.btn-primary:hover{
  cursor: pointer;
}

.map{
height:400px;
width:50%;}

.header {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15);
}
